{% extends 'core/base.html' %}
{% block content %}
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Date added</th>
            <th scope="col">Item</th>
            <th scope="col">Cost</th>
            <th scope="col">Category</th>
          </tr>
        </thead>
        <tbody>
        {% for expense in expenses %}
          <tr>
            <td>{{ expense.date_created }}</td>
            <td>{{ expense.item }}</td>
            <td>{{ expense.cost }}</td>
            <td>{{ expense.category }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
</div>

<div class="container pt-4 text-center">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add</button>

    </form>
</div>
{% endblock content %}